.avatar{
  border-radius: 25%;
  width: 90%;
  float: left;
  position: relative;
  left: 50px;
}

.info_text{
  color: gray;
}

.info_description{
  font-size: 3ch;
}

.mt-big{
  margin-top: 2ch;
}

.red{
  color: red;
}

.dark-red{
  color: darkred;
}
